<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="feecompass" translate="label" sortOrder="400">
            <label>feeCOMPASS</label>
        </tab>
        <section id="feecompass" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Rankings</label>
            <tab>feecompass</tab>
            <resource>Feecompass_Rankings::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Setup</label>
                <attribute type="expanded">1</attribute>
                <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable feeCOMPASS</label>
                    <config_path>feecompass/settings/active</config_path>
                    <frontend_model>Feecompass\Rankings\Block\Adminhtml\System\Config\Form\Field\NoScopes</frontend_model>
                    <comment><![CDATA[To connect feeCOMPASS to your store, enter your App Key and API Secret in the fields below and save your configuration.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="app_key" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Key</label>
                    <config_path>feecompass/settings/app_key</config_path>
                    <frontend_model>Feecompass\Rankings\Block\Adminhtml\System\Config\Form\Field\NoScopes</frontend_model>
                    <comment>Note: Additional stores must be connected to their own App Key via Store View settings.</comment>
                </field>
                <field id="secret" translate="label comment" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Secret</label>
                    <config_path>feecompass/settings/secret</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <frontend_model>Feecompass\Rankings\Block\Adminhtml\System\Config\Form\Field\NoScopes</frontend_model>
                    <!-- <comment><![CDATA[Insert link how to configure feecompass API]]></comment> -->
                </field>
                <field id="feecompass_api_url" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>feecompass API url</label>
                    <config_path>feecompass/settings/feecompass_api_url</config_path>
                    <frontend_model>Feecompass\Rankings\Block\Adminhtml\System\Config\Form\Field\NoScopes</frontend_model>
                    <comment><![CDATA[Default url is https://webcomponents.feecompass.com ]]></comment>
                </field>
                <field id="module_version" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Version</label>
                    <frontend_model>Feecompass\Rankings\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
                    <comment><![CDATA[<input name="disable_autofill_appkey" type="text" style="display:none!important;"><input name="disable_autofill_secret" type="password" style="display:none!important;">]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
